.o-meta-nav,
.o-language-switch,
.o-main-nav-list {
    position: relative;

    a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 15px;
    }
}

.o-main-nav-list {
    font-size: 1.4rem;
}

.o-meta-nav {
    a {
        opacity: .7;
        font-size: 1rem;
        color: #fff;

        &:hover,
        &.is-active {
            opacity: 1;
        }
    }
}

.o-language-switch {
    float: right;

    a {
        font-size: 1rem;
        border: solid 2px $bg-color-primary;
        width: 30px;
        height: 30px;
        padding: 0;
        text-align: center;
        line-height: 26px;
        border-radius: 100%;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        margin-left: 5px;

        &.is-active,
        &:hover {
            background-color: $bg-color-primary;
            color: #fff;
        }

        &.is-active {
            cursor: default;
        }
    }
}

.o-logo--diap {
    display: none;
}

.o-nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 5;
    cursor: pointer;

    &:before,
    span,
    &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 3px;
        line-height: 1px;
        background-color: $bg-color-primary;
        border-radius: 3px;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    &:before {
        top: 9px;
    }

    span {
        top: 14px;
    }

    &:after {
        top: 19px;
    }
}

.o-nav-target {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    z-index: 2;
    top: 70px;
    width: 100%;
    background-color: $bg-color-primary;
    text-align: center;

    .ripple-layer {
        z-index: -1;

        .rippleCircle {
            opacity: 1;
            background-color: $button-color-primary-hover;
        }
    }

    a {
        z-index:1;
    }
}

.o-nav--small-view {
    background-color: #fff;
    height: 70px;

    .o-nav-top {
        padding: 20px 10px;
    }

    .o-language-switch {
        margin-right: 40px;
    }

    .o-main-nav-list a {
        font-size: 2.2rem;
        line-height: 2.727em;
        &.is-active {
            background-color: rgba(255,255,255,.1);
        }
    }

    .o-meta-nav a {
        font-size: 1.6rem;
        line-height: 3.73em;
    }

    .o-main-nav-list a,
    .o-meta-nav a {
        color: #fff;
    }

    &.is-expanded {
        background-color: $bg-color-primary;
        position: fixed;
        width: 100%;
        z-index: 2;

        .o-nav-target {
            overflow: visible;
            max-height: 1000px;
            position: fixed;
            height: 100%;
            height: calc(100% - 70px);
            overflow-y: auto;
        }

        .o-nav-toggle {
            &:before {
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background-color: #fff;
                top: 15px;
                width: 20px;
            }

            &:after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                background-color: #fff;
                width: 20px;
                top: 15px;
            }

            span {
                opacity: 0;
            }
        }

        .o-logo {
            display: none;
        }

        .o-logo--diap {
            display: inline-block;
        }

        .o-language-switch {
            a {
                color: #fff;
                border-color: currentColor;

                &.is-active,
                &:hover {
                    background-color: #fff;
                    color: $bg-color-primary;
                    border-color: #fff;
                }
            }
        }
    }
}


// navigation helper, gives html class nav-is-expanded, when menu is expanded in small view
html.nav-is-expanded {
    overflow: hidden;
}

.o-nav--large-view {
    display: none;

    li {
        display: inline-block;
        padding: 0;
    }

    .o-main-nav {
        padding-top: 40px;
        height: 120px;
        background-color: #fff;

        ul {
            //padding:25px 0!important;
        }
    }

    .o-meta-nav {
        height: 40px;
        padding: 0;
        text-align: right;
        background-color: $bg-color-primary;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        a {
            line-height: 40px;
        }

        li:last-child a {
            padding-right: 0;
        }
    }

    .o-language-switch {
        padding: 25px 0;
    }

    .o-logo {
        width: 177px;
        float: left;
        padding: 20px 0;
    }

    .o-main-nav-list {
        float: right;
        padding: 0 20px;

       
        .o-main-nav-list-item {
            position: relative;
            float: left;
            z-index: 0;

            a {
                z-index: 1;
                padding: 25px 25px 21px;
                border-bottom: 4px solid transparent;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;

                &:hover,
                &:active {
                    border-bottom: 4px solid $bg-color-primary;
                }
            }

            &.is-active a {
                border-bottom: 4px solid $bg-color-primary;
                color: $bg-color-primary;
            }

            .ripple-layer {
                z-index: -1;
            }

            .rippleCircle {
                background-color: #ededea;
                opacity: 1;
            }
        }
    }
}

@media all and (min-width: $screen-lg-max) {
    .o-nav--small-view {
        display: none;
    }

    .o-nav--large-view {
        display: block;
    }
}
