/*Inserts <h1> </h1>*/
h1
{
    EditMenuName:Heading1;
}

/*Inserts <h2> </h2>*/
h2
{
   EditMenuName:Heading2;
}

/*Inserts <h3> </h3>*/
h3
{
   EditMenuName:Heading3;
}

/*Inserts <h4> </h4>*/
h4
{
   EditMenuName:Heading4;
}

/*Inserts <h5> </h5>*/
h5
{
   EditMenuName:Heading5;
}

/*Inserts <h6> </h6>*/
h6
{
   EditMenuName:Heading6;
}

/*Inserts <foo class=button>...</foo> */
.btn
{
    EditMenuName:Button;
}
