body.debug {
	
    position: relative;
    &:before,
    &:after {
        content: '';
        display: block;
        position: fixed;
        right: 0;
        top: 50%;
        font-size: 16px;
        width: 40px;
        padding: 0 5px;
        z-index: 5000;
    }
    &:before {
        content: 'row';
        margin-top: 0;
        height: 50px;
        background-color: #E6F0FF;
        outline: dashed 1px rgba(0, 100, 255, 0.3);
    }
    &:after {
        content: 'col';
        margin-top: 25px;
        background-color: #E9E3FF;
        outline: dashed 1px rgba(255, 100, 255, 0.4);
    }

    .row {
	    background-color: rgba(0, 100, 255, 0.1);
        outline: dashed 1px rgba(0, 100, 255, 0.6);

        &.u-gutter-small > [class*=col-]:before {
            left: ($spacing-default / 4);
        }

        &.u-gutter-small > [class*=col-]:after {
            right: ($spacing-default / 4);
        }
    }

    [class*=col-] {
	    &:not([class*=u-bgc-]) {
            background-color: rgba(255, 100, 255, 0.1);
	    }
        outline: dashed 1px rgba(255, 100, 255, 0.6);
        position: relative;
        &:not(.u-no-gutter):before,
        &:not(.u-no-gutter):after {
            content: '';
            position: absolute;
            left: ($spacing-default / 2);
            top: 0;
            width: 1px;
            height: 100%;
            border-left: dashed 1px rgba(255, 100, 255, 0.4);
        }
        &:not(.u-no-gutter):after {
            left: auto;
            right: ($spacing-default / 2);
        }
    }

    .o-content-width {
        border-left: dashed 1px rgba(0, 100, 255, 0.3);
        border-right: dashed 1px rgba(0, 100, 255, 0.3);
		
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: $spacing-medium;
            top: 0;
            width: 1px;
            height: 100%;
            border-left: dashed 1px rgba(0, 100, 255, 0.3);
        }
        &:after {
            left: auto;
            right: $spacing-medium;
        }
    }
    
}
code {
    color: orangered;
	font-family: monospace;
}
.js-toggle-guidelines {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}
pre {
	font-family: monospace;
	color: darkgrey;
}