body.debug {
	
    position: relative;
    &:before,
    &:after {
        content: '';
        display: block;
        position: fixed;
        right: 0;
        top: 50%;
        font-size: 16px;
        width: 40px;
        padding: 0 5px;
        z-index: 5000;
    }
    &:before {
        content: 'row';
        margin-top: 0;
        height: 50px;
        background-color: #E6F0FF;
        outline: dashed 1px rgba(0, 100, 255, 0.3);
    }
    &:after {
        content: 'col';
        margin-top: 25px;
        background-color: #E9E3FF;
        outline: dashed 1px rgba(255, 100, 255, 0.4);
    }

    .row {
	    background-color: rgba(0, 100, 255, 0.1);
        outline: dashed 1px rgba(0, 100, 255, 0.6);

        &.u-gutter-small > [class*=col-]:before {
            left: ($spacing-default / 4);
        }

        &.u-gutter-small > [class*=col-]:after {
            right: ($spacing-default / 4);
        }
    }

    [class*=col-] {
	    &:not([class*=u-bgc-]) {
            background-color: rgba(255, 100, 255, 0.1);
	    }
        outline: dashed 1px rgba(255, 100, 255, 0.6);
        position: relative;
        &:not(.u-no-gutter):before,
        &:not(.u-no-gutter):after {
            content: '';
            position: absolute;
            left: ($spacing-default / 2);
            top: 0;
            width: 1px;
            height: 100%;
            border-left: dashed 1px rgba(255, 100, 255, 0.4);
        }
        &:not(.u-no-gutter):after {
            left: auto;
            right: ($spacing-default / 2);
        }
    }

    .o-content-width {
        border-left: dashed 1px rgba(0, 100, 255, 0.3);
        border-right: dashed 1px rgba(0, 100, 255, 0.3);
		
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: $spacing-medium;
            top: 0;
            width: 1px;
            height: 100%;
            border-left: dashed 1px rgba(0, 100, 255, 0.3);
        }
        &:after {
            left: auto;
            right: $spacing-medium;
        }
    }
    
}
code {
    color: orangered;
	font-family: monospace;
}
.js-toggle-guidelines {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}
.o-link-to-top {
	position: fixed;
	z-index: 1;
	top: 50px;
	right: 0;
	background-color: white;
}
pre {
	font-family: monospace;
	color: darkgrey;
}
.c-documentation-intro {
	ul {
		column-count: 3;
	}
}


.triangle {
	width: 200px;
	height: 173.2px;
	position: absolute;
	top: 0;
	left: 0;
	
	$speed: .5s;

	&-inner {
		width: 0;
		height: 0;
		display: block;
		border-style: solid;
		border-width: 0 100px 173.2px;
		border-color: transparent transparent deepskyblue transparent;
		transform: scale(1,-1);
		animation: flip $speed forwards ease-in-out, cblue $speed forwards ease-in-out;
		transform-origin: bottom;
	}

	&2 {
		transform: rotate(-60deg);
		top: 130px;
		left: -26px;
		
		.triangle-inner {
			
			border-color: transparent transparent orange transparent;
			animation: flip $speed forwards ease-in-out, corange $speed forwards ease-in-out;
			animation-delay: .5s;
		}
	}

	&3 {
		transform: rotate(-120deg);
		top: 216px;
		left: 75px;
		
		.triangle-inner {
			
			border-color: transparent transparent mediumspringgreen transparent;
			animation: flip $speed forwards ease-in-out, cgreen $speed forwards ease-in-out;
			animation-delay: 1s;
		}
	}
}
@keyframes flip {
	0% {
		transform: scale(1,-1);
	}
	100% {
		transform: scale(1,1);
	}
}
@keyframes corange {
	0%,20% {
		border-bottom-color: orange;
	}
	50% {
		border-bottom-color: #b77700;
	}
	80%,100% {
		border-bottom-color: orange;
	}
}
@keyframes cblue {
	0%,20% {
		border-bottom-color: deepskyblue;
	}
	50% {
		border-bottom-color: #008cbb;
	}
	80%,100% {
		border-bottom-color: deepskyblue;
	}
}
@keyframes cgreen {
	0%,20% {
		border-bottom-color: mediumspringgreen;
	}
	50% {
		border-bottom-color: #00c479;
	}
	80%,100% {
		border-bottom-color: mediumspringgreen;
	}
}