@mixin border-radius($topleft, $topright, $rightbottom, $leftbottom) {
    -moz-border-radius: $topleft $topright $rightbottom $leftbottom;
	/*for android separately*/
	-webkit-border-top-left-radius: $topleft;
	border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $rightbottom;
	border-bottom-right-radius: $rightbottom;
	-webkit-border-bottom-left-radius: $leftbottom;
	border-bottom-left-radius: $leftbottom;
}