$font-primary:				'arial';
//$font-primary-bold:		'open sans bold';
$font-fallback:				helvetica, sans-serif;

$font-default: 				$font-primary, $font-fallback;
$font-headings: 			$font-primary, $font-fallback;

$font-size-default: 	1.6rem;

$font-size-h1: 				3rem !default;
$font-size-h2: 				2.4rem !default;
$font-size-h3: 				2.2rem !default;
$font-size-h4: 				2.0rem !default;
$font-size-h5: 				1.8rem !default;
$font-size-h6: 				1.6rem !default;


//default paddings for buttons etc
$padding-vertical: 		10px;
$padding-horizontal: 	14px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

//we want to have the screen widths in ems, but it's easier to think in px
// so we define them in px, and convert them to ems

// Small screen / phone 
$screen-xs-min-px:		480px !default;
$screen-xs-min:				em($screen-xs-min-px);

// Small screen / tablet        
$screen-sm-min-px:		786px !default;
$screen-sm-min:				em($screen-sm-min-px);

// Medium screen / desktop
$screen-md-min-px:		1024px !default;
$screen-md-min:				em($screen-md-min-px);

// Large screen / wide desktop
$screen-lg-min-px:		1200px !default;
$screen-lg-min:				em($screen-lg-min-px);

// Viewport width (used to set a max viewport for xtra large screens)
$viewport-px:					1600px !default;
$viewport:						em($viewport-px);

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:				($screen-sm-min - 0.001) !default;
$screen-sm-max:				($screen-md-min - 0.001) !default;
$screen-md-max:				($screen-lg-min - 0.001) !default;


//== Grid system 
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         32px !default;
// Navbar collapse
// Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
// Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
//** For `$screen-sm-min` and up.
$container-sm:                 100%;

// Medium screen / desktop
//** For `$screen-md-min` and up.
$container-md:                 100%;

// Large screen / wide desktop
//** For `$screen-lg-min` and up.
$container-lg:                 $screen-lg-min;


